* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #616e8b;
    color: white;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

#restartBtn {
    padding: 10px 20px;
    font-size: 16px;
    background: #61dafb;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-top: 10px;

    
    
}

.game-container {
    width: 90%;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.card {
    background: #444;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    backface-visibility: hidden;
}

.back {
    background: #61dafb;
    color: black;
}

.front {
    background: #fff;
    transform: rotateY(180deg);
}

@media (max-width: 500px) {
    .card {
        height: 80px;
    }
}


